@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}

@layer components {
    .header_top_icon {
        @apply bg-gray-200 rounded-md ml-1 p-[6px] text-2xl cursor-pointer hover:bg-pink-300
        hover:text-white
    }
    .container {
      @apply p-3
    }
    .navbar_link:hover {
      color: #ff8f9c;
      transition: all 0.4s;
    }
    .navbar_link::after {
      position: absolute;
      content: "";
      background-color: #ff8f9c;
      height: 3px;
      width: 100%;
      bottom: -5px;
      left: 0;
      scale: 0;
      transform-origin: left ;
      transition: all 0.4s;
    }
    .navbar_link:hover::after {
      scale: 1;
    }
}